head{margin: auto;}
head{background-color: beige;}
header{background-color: aquamarine;}0
header{width: 1500;}
header{font-size: x-large;}
body{background-color: chartreuse;}
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white

