  * {
          box-sizing: border-box;
        }
        
        body {
          margin: 1;
        }
        
        /* Style the header */
        .header {
          background-color: hwb(0 95% 5%);
          padding: 9px;
          text-align: center;
        }
        
        /* Style the top navigation bar */
        .topnav {
          overflow: hidden;
          background-color: #333;
        }
        
        /* Style the topnav links */
        .topnav a {
          float: left;
          display: block;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        /* Change color on hover */
        .topnav a:hover {
          background-color: #ddd;
          color: black;
        }
        
        /* Create three unequal columns that floats next to each other */
        .column {
          float: left;
          padding: 5px;
        }
        
        /* Left and right column */
        .column.a {
          width: 30%;
          overflow-y: auto;
          margin-bottom: 35px;
        }
        
        /* Middle column */
        .column.b {
          width: 70%;
          overflow-y: auto;
          margin-bottom: 28px;
        }
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        /* Style the footer */
        .footer {
          background-color: hsl(227, 9%, 81%);
          padding: 1px;
          text-align: center;
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
        }
        
        /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
          .column.a, .column.b {
            width: 100%;
          }
        }
        @media screen and (max-width: 600px) {
          .topnav a {
            float: none;
            width: 100%;
          }
          @media screen and (max-width: 600px) {
            #imagen1 {
              float: none;
            }
          }

        }
        p{
            font-size: 120%;
        }
       